html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #004080;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header {
    
    display: grid;
    grid-template-columns: 30vw 10vw 30vw;
    gap:2rem;
    justify-content: center;
    padding: 1rem;
}

.playerscorebox , .wintextbox{
    border:3px solid #fff;
    border-radius: 10px;
    padding: 0 1rem 0 1rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

#restartgamebtn {
    display:none;
}

#wintext {
    display: none;
    padding: 1rem;
    font-weight: 600;
}

#p1side {
    grid-column: 1;
}
#p2side {
    grid-column: 3;
}

.score, .name {
    align-self: center;
}

button {
    color: #fff;
    background-color: #004080;
    border:3px solid #fff;
    align-self: center;
    font-weight: 600;
    padding:1rem 1rem 1rem 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.gameboard {
    border:3px solid #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    justify-content: center;
    padding:1rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.5);
}
.grid {
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 5vh);
}

.grid[x="0"][y="1"]{
    border:2px solid #fff;
    border-top: none;
    border-bottom: none;
}

.grid[x="1"][y="0"]{
    border:2px solid #fff;
    border-left: none;
    border-right: none;
}

.grid[x="1"][y="2"]{
    border:2px solid #fff;
    border-right: none;
    border-left: none;
}

.grid[x="2"][y="1"]{
    border:2px solid #fff;
    border-bottom: none;
    border-top: none;
}

.grid[x="1"][y="1"]{
    border:2px solid #fff;
    
}

@media only screen and (max-width: 768px) {

    h3 {
        font-size: 13px;
    }

    .header {
    
        display: grid;
        grid-template-columns: 35vw 20vw 35vw;
        gap:1rem;
        justify-content: center;
        padding: 1rem;
    }

    .gameboard {
        border:3px solid #fff;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 25vw);
        justify-content: center;
        padding:1rem;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.5);
    }

    button {
        color: #fff;
        background-color: #004080;
        border:3px solid #fff;
        align-self: center;
        font-size: 10px;
        font-weight: 600;
        padding:1rem 1rem 1rem 1rem;
        border-radius: 10px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.5);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .playerscorebox , .wintextbox{
        border:3px solid #fff;
        border-radius: 10px;
        padding: 0 0.5rem 0 0.5rem;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), inset 1px 1px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
    }

}